<!--


<!DOCTYPE html>
<html>
<head>
<title>
سایت اورجینال فروش محصولات اپل
</title>
</head>  



<body>
    <h1>تولید کننده  <em>اورجینال </em>آیفون در شهرستان رباط کریم</h1>
    <h2>sub-heading</h2>
    <h1>heading</h1>
    <h2>sub-heading</h2>
    <h3>sub-sub-heading</h3>
    <h4>sub-sub-heading</h4>
    <h5>sub-sub-heading</h5>
    <h6>sub-sub-heading</h6>
    <br><br><br>
    <p>سلام سلطان!</p>
    <br><br>
    <p>متاسفم سایت شما <strong>ریده</strong>!</p>
    
    <ul><li>آیتم اول</li><li>آیتم دوم</li></ul>
    <br><br><br>
    <a href="https://paytonharjayi.pythonanywhere.com/">سایت من</a>

    <div>salam</div>
    <nav>sadsadsa</nav>
    <article>aa</article>
    <footer>asdasdsadasdsa</footer>
    <time>23:</time>
</body>
</html>


-->

{% extends 'blog/base.html' %}


                {% block content %}
                    {% for post in posts %}
                        <article class="post">
                            <time class="date">
                                {{ post.published_date }}
                            </time>
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </article>
                    {% endfor %}
                {% endblock %}


<!--

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/hello.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    
    </body>

</html>

-->
